{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Patient {{ post['username'] }} Records {% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <!--<label for="title">Title</label>
    <input name="title" id="title"
      value="{{ request.form['title'] or post['title'] }}" required>-->

    <label for="body">symptoms</label>
    <textarea name="symptoms" id="symptoms">{{ request.form['symptoms'] or post['symptoms'] }}</textarea>

    <label for="body">condition</label>
    <textarea name="condition" id="condition">{{ request.form['condition'] or post['condition'] }}</textarea>

    <label for="body">treatment</label>
    <textarea name="treatment" id="treatment">{{ request.form['treatment'] or post['treatment'] }}</textarea>

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('patient.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}